@import url('banner.css');
@import url('navbar.css');
@import url('footer.css');
@import url('contact.css');
@import url('../vendor/animation.css');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800|Lato:400,300,700|Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

p{
  font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}
.text-center{
  text-align:center;
}

.padding-img{
  padding: 10px;
}

.left-container{
  float: left;
  padding: 25px 0;
}

.right-container{
  float: right;
  padding: 25px 0;
  text-align: center;
}

.clear{
  clear: both;
}


.vertical-spacer{
  height: 4em;
}
/* GITE */
#house{
  margin:0 auto;
  width:80%;
  text-align: center;
  padding: 40px;
}
#house h1{
  padding-bottom: 20px;
  font-weight: 300;
}

#house p{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.width-description{
  width: 55%;
}
.width-detail{
  width: 40%;
}

.detail-custo h4{
  margin: 0;
}

/* PARTNER */

#partner{
  padding-bottom: 30px;
}

#partner h1, #contact h1{
  padding-bottom: 20px;
  font-weight: 300;
}

#partner img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.6;
  filter: alpha(opacity=60);
  padding:10px 0;
}

/* TARIF*/

#price{
  background-image: url('../images/chateau-vue-parc.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  margin:0 auto;
  text-align: center;
  padding-top: 40px;
}

#price h1{
  text-align: center;
  padding-bottom: 30px;
  color: white;
  font-weight: 300;
}

.custo-price{
  background-color: #5CB85C;
  border: none;
  border-radius: 10px;
  margin:10px;
}
.custo-price h2{
  text-align: center;
  font-weight: 300;
  color: white;
  font-size: 30px;
}
.custo-price p{
  font-size: 16px;
  color: black;
}

.a-padding{
  padding-top: 30px;
}

.a-padding a {
  padding-left: 50px;
  padding-right: 50px;
}

.width-price{
  width: 46%;
}

/* MODAL */

.modal-header{
  border-bottom: none;
}
